@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
}

:root {
  --app-safe-area-top: var(
    --tg-content-safe-area-inset-top,
    env(safe-area-inset-top, 0px)
  );

  --app-safe-area-bottom: var(
    --tg-content-safe-area-inset-bottom,
    env(safe-area-inset-bottom, 0px)
  );
}

html,
body {
  overflow: hidden;
  background: #e0e8f5;
}
